Ansible Dist file path is: {{ ansible_distribution_file_path }}
Ansible Dist file variety is: {{ ansible_distribution_file_variety }}
Ansible Dist Major version is: {{ ansible_distribution_major_version }}
Ansible Dist release is: {{ ansible_distribution_release }}
Ansible Dist version is: {{ ansible_distribution_version }}
Ansible Hostname is: {{ ansible_hostname }}
Ansible Distribution is: {{ ansible_distribution }}

FQDN={{ ansible_facts['fqdn'] }}
DISTRIBUTION={{ ansible_facts['distribution'] }}
DISTRIBUTION_VERSION={{ ansible_facts['distribution_version'] }}
ADMIN_OWNER={{ admin_owner }}
SYSTEM_OWNER_EMAIL={{ system_owner_email }}

MemoryTotal={{ ansible_facts['memtotal_mb'] }}
ProcessorCount={{ ansible_facts['processor_count'] }}
System={{ ansible_system }}
This is a sample file from {{inventory_hostname}} and port number is {{req_port}}

HOST= {{ ansible_hostname }}
MEMORY= {{ ansible_facts['memtotal_mb'] }}
BIOS= {{ ansible_bios_version }}
VDA_DISK_SIZE= {{ ansible_facts['devices']['sda']['size'] }}
VDB_DISK_SIZE= {{ ansible_facts['devices']['sdb']['size'] }}
